<div class="card">
  <h1 class="header">Have a question?</h1>
  <a href="#" class="btn btn-contact-us">Contact us</a>
  <div class="accordion">
      <div class="accordion-card"
           *ngFor="let card of faq; index as i"
           [ngClass]="{'open': selectedCardIndex === i}"
           (click)="toggle(i)">
        <div class="temp-accordion">
          <p class="accordion-number">{{ i + 1 | number: '2.0'}}</p>
          <p class="accordion-title">{{ card.question}}</p>
          <i class="bi icon"
             [ngClass]="{
             'bi-chevron-down': selectedCardIndex !== i,
             'bi-chevron-up': selectedCardIndex === i
             }"
          ></i>
        </div>
        <div class="accordion-hidden"
             [ngClass]="{'hide-content': selectedCardIndex !== i}">
          <p class="accordion-content">{{  card.answer }}</p>
        </div>
      </div>
  </div>
</div>
